{% load static %}

<!-- FILEPATH: /Users/rise/Documents/GitHub/Personal/blackjack-trainer/mysite/blackjack/templates/base.html -->
<!-- BEGIN: abpxx6d04wxr -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blackjack Trainer</title>
    <link rel="icon" type="image/png" href="{% static 'images/blackjack.png' %}" />
    <!-- END: abpxx6d04wxr -->

    <!-- BEGIN: be15d9bcejpp -->
    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
    <!-- END: be15d9bcejpp -->
  </head>
  <body>
    <div id="credits">
      <a href="https://www.flaticon.com/free-icons/blackjack" title="blackjack icons">Blackjack icons created by iconixar - Flaticon</a>
    </div>
    {% block content %}

    {% endblock %}

    <!-- BEGIN: ed8c6549bwf9 -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
    <!-- END: ed8c6549bwf9 -->
  </body>
</html>
