{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blackjack Trainer</title>
    <link rel="icon" type="image/png" href="{% static 'images/blackjack.png' %}" />

    <script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
  </head>
  <body>
    <div id="credits">
      <a href="https://www.flaticon.com/free-icons/blackjack" title="blackjack icons">Blackjack icons created by iconixar - Flaticon</a>
    </div>
    {% block content %}

    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/script.js' %}"></script>
  </body>
</html>
