{% extends 'base.html' %}
{% block content %}
  <h1>Blackjack Trainer</h1>
  <h1 style="">Dealer</h1>
  <div class="cards">
    <img class="card" src="{{ url_for('static', filename = config.CARD_IMAGE_PATH + dealer_cards[0]) }}" />
    <img class="card" src="{{ url_for('static', filename = config.CARD_IMAGE_PATH + dealer_cards[1]) }}" />
  </div>
  <h1 style="">Player</h1>
  <div class="cards">
    <img class="card" src="{{ url_for('static', filename = config.CARD_IMAGE_PATH + player_cards[0]) }}" />
    <img class="card" src="{{ url_for('static', filename = config.CARD_IMAGE_PATH + player_cards[1]) }}" />
  </div>
  {{ options|safe }}
  {{ statistics|safe }}
{% endblock %}
