<button type="button" hx-get="/cards" hx-target="#all-cards">Deal</button>
<h1 style="">Dealer</h1>
<div class="cards">
  <img class="card" src="{{ url_for('static', filename = config.CARD_IMAGE_PATH + dealer_cards[0]) }}" />
  <img class="card" src="{{ url_for('static', filename = config.CARD_IMAGE_PATH + dealer_cards[1]) }}" />
</div>
<h1 style="">Player</h1>
<div class="cards">
  <img class="card" src="{{ url_for('static', filename = config.CARD_IMAGE_PATH + player_cards[0]) }}" />
  <img class="card" src="{{ url_for('static', filename = config.CARD_IMAGE_PATH + player_cards[1]) }}" />
</div>
{{ options|safe }}
